<h2><%= t('.neworder') %></h2>

<legend><%= t('.please_enter_the_detail') %></legend>

<div class="checkout_form">
	<fieldset>
		<%= render 'form' %>
	</fieldset>
</div>

<%= link_to t('main.back'), orders_path %>
