.checkout_form fieldset { b
	ackground: #000000;
}
.checkout_form legend { 
	color: #dfd; 
	background: #141; 
	font-family: sans-serif; 
	padding: 0.2em 1em;
}

.checkout_form label { 
	width: 5em; 
	float: left; 
	text-align: right; 
	padding-top: 0.2em; 
	margin-right: 0.1em; 
	display: block;
}
.checkout_form select, .checkout_form textarea, .checkout_form input { 
	margin-left: 0.5em;
}
.checkout_form .submit { 
	margin-left: 4em;
}
.checkout_form div { 
	margin: 0.5em 0;
}