<div class="span-5 colborder">
	<h3>The <span class="alt">brands</span></h3>
	<ul>
	<% @brands.each do |brand| %>
		<li> <%= brand.name %></li>
	<% end %>
	</ul>
</div>

<div class="span-17 prepend-1 last">

</div>